<?xml version="1.0" encoding="UTF-8"?>


<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"> 

    <security-constraint>
        <display-name>User rights</display-name>
    
        <web-resource-collection>
            <web-resource-name>Insert</web-resource-name>
            <url-pattern>/InsertBook</url-pattern>
        </web-resource-collection> 
       
        <auth-constraint>
            <role-name>ROLE_ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
        <form-login-page>/Admin?action=login</form-login-page>
        <form-error-page>/Admin?action=error</form-error-page>
        </form-login-config> 
    </login-config>  
    
    <security-role>
    	<role-name>ROLE_ADMIN</role-name>
    </security-role>

    <error-page>
        <error-code>403</error-code>
        <location>/Admin?action=forbidden</location>
    </error-page>

</web-app>